:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 138 43 226;
  --oui-color-primary-light: 176 132 233;
  --oui-color-primary-darken: 104 32 176;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 138 43 226;
  --oui-color-link-light: 176 132 233;

  --oui-color-secondary: 180 255 0;
  --oui-color-tertiary: 138 43 226;
  --oui-color-quaternary: 180 255 0;

  --oui-color-danger: 138 43 226;
  --oui-color-danger-light: 176 132 233;
  --oui-color-danger-darken: 148 0 211;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 180 255 0;
  --oui-color-success-light: 200 255 100;
  --oui-color-success-darken: 150 200 0;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 36 32 47;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 81 72 107;
  --oui-color-base-3: 68 61 69;
  --oui-color-base-4: 57 52 74;
  --oui-color-base-5: 51 46 66;
  --oui-color-base-6: 43 38 56;
  --oui-color-base-7: 36 32 47;
  --oui-color-base-8: 29 26 38;
  --oui-color-base-9: 22 20 28;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 138 43 226;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 180 255 0;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 138 43 226;
  --oui-gradient-primary-end: 138 43 226;

  --oui-gradient-secondary-start: 180 255 0;
  --oui-gradient-secondary-end: 180 255 0;

  --oui-gradient-success-start: 180 255 0;
  --oui-gradient-success-end: 180 255 0;

  --oui-gradient-danger-start: 138 43 226;
  --oui-gradient-danger-end: 138 43 226;

  --oui-gradient-brand-start: 180 255 0;
  --oui-gradient-brand-end: 180 255 0;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 209 70;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}