:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 147 112 219;
  --oui-color-primary-light: 176 132 233;
  --oui-color-primary-darken: 137 76 209;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 147 112 219;
  --oui-color-link-light: 176 132 233;

  --oui-color-secondary: 184 224 63;
  --oui-color-tertiary: 147 112 219;
  --oui-color-quaternary: 184 224 63;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 184 224 63;
  --oui-color-success-light: 184 224 63;
  --oui-color-success-darken: 184 224 63;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 184 224 63;
  --oui-color-warning-light: 184 224 63;
  --oui-color-warning-darken: 184 224 63;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 147 112 219;
  --oui-color-fill-active: 147 112 219;

  --oui-color-base-1: 184 224 63;
  --oui-color-base-2: 176 132 233;
  --oui-color-base-3: 147 112 219;
  --oui-color-base-4: 137 76 209;
  --oui-color-base-5: 184 224 63;
  --oui-color-base-6: 147 112 219;
  --oui-color-base-7: 176 132 233;
  --oui-color-base-8: 147 112 219;
  --oui-color-base-9: 137 76 209;
  --oui-color-base-10: 147 112 219;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 184 224 63;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 147 112 219;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 147 112 219;
  --oui-gradient-primary-end: 147 112 219;

  --oui-gradient-secondary-start: 147 112 219;
  --oui-gradient-secondary-end: 147 112 219;

  --oui-gradient-success-start: 184 224 63;
  --oui-gradient-success-end: 184 224 63;

  --oui-gradient-danger-start: 245 97 139;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 184 224 63;
  --oui-gradient-brand-end: 184 224 63;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 184 224 63;
  --oui-gradient-warning-end: 184 224 63;

  --oui-gradient-neutral-start: 147 112 219;
  --oui-gradient-neutral-end: 147 112 219;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}